<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="car" class="org.atuluttam.Car" autowire="byName" lazy-init="true">
   <!-- <property name="engine" ref="pe"/>-->
    </bean>


    <bean id="pe"  class="org.atuluttam.PE"  lazy-init="true" primary="true"/>
    <bean id="de"  class="org.atuluttam.DE" lazy-init="true" />

</beans>